extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href=('/'))= "< Norrlandsordern"
  .restrict-width
    .card.m-4
      .card-body
        h5.card-title= `#${user.id}: ${user.name} ${user.admin ? "(Admin)" : ""}`
        p.text-muted.m-0 Användarnamn
        p
          strong= user.username
        p.text-muted.m-0 E-post
        p
          strong= user.email
        if me
          a(href=`users/${user.id}/edit`)
            button.btn.btn-outline-dark Redigera
  if me
    .restrict-width
      .card.m-4
        .card-body
          a(href='/wrapped/2021')
            button.btn.btn-lg.btn-outline-light(style='background: linear-gradient(140deg, #0A243E 0%, #BE162F 36%, #CBA051 100%); width: 100%') Din #wrapped2021
      .card.m-4
        .card-body
          h5.card-title Logga drucken öl
          form(action="/norrlands", method='POST')
            .form-row
              .col-4
                label.sr-only(for='volume') Volym
                select#volume.form-control.form-control-lg(name='volume')
                  option(value='33', selected=(lastLoggedVolume == 33)) 33 cl
                  option(value='40', selected=(lastLoggedVolume == 40)) 40 cl
                  option(value='50', selected=(lastLoggedVolume == 50)) 50 cl
              .col-8
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Mot Norrland!
  .restrict-width
    .card.m-4.mb-5
      .card-body
        .h5.card-title Bidrag
        if norrlands[0]
          p.text-muted.m-0= `Senast öl (${formatDateDiff(norrlands[0].created_at, new Date())} sedan)`
          p
            strong= `#${norrlands[0].id}: ${norrlands[0].volume} cl, ${formatDate(norrlands[0].created_at)}`
        p.text-muted.m-0 Totalt antal
        p
          strong= `${formatNumber(norrlands.map(item => item.volume).reduce((a,b) => a+b, 0)/33, 0)} burkar`
        p.text-muted.m-0 Vilket motsvarar
        p
          strong= `${formatNumber(norrlands.map(item => item.volume).reduce((a,b) => a+b,0)/33*0.066, 2)} meter`
      h5.card-title.ml-4 Logg
      table.table.m-0
        thead
          tr
            th(scope='col') id
            th(scope='col') volym (cl)
            th(scope='col') tid
        tbody
          each item in norrlands
            tr
              th= item.id
              th= item.volume
              th= formatDate(item.created_at)
  if lastLogged
    #status.alert.alert-success.fixed-bottom.m-3= `Lyckad logg av ${lastLogged} totala ölen! `
      //button.ml-2.btn.btn-outline-dark Ångra


