mixin toplist(t)
  table.borderless.table.m-0
    thead
      tr
        th(scope='col')
        th(scope='col') Namn
        th(scope='col') Distans (m)
    tbody
      each item in t
        if item.self == true
          tr
            td
              b= item.index
            td
              a.user-link(href=`/users/${item.id}`)
                b= item.name
            td
              b= formatNumber(item.volume_sum/33*0.066, 2)
        else
          tr
            td= item.index
            td
              a.user-link(href=`/users/${item.id}`)= item.name
            td= formatNumber(item.volume_sum/33*0.066, 2)